@import "consensass";

//  Fonts config
@include import_google_fonts((
        'https://fonts.googleapis.com/icon?family=Material+Icons',
        'https://fonts.googleapis.com/css?family=Lato',
        'https://fonts.googleapis.com/css?family=Merriweather'
));

//  Set up breakpoints
@include breakpoints();

body{
  background-color: #f8f8f8;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

//  Outline = divider between big image and components
.outline{
  @include grid($_outline);
}


//  grid class will be our grid
.grid{
    margin-top: 64px;
    @include grid($_grid);
}

.container{
    @include container($_container);
  padding-top: calc(9%);
}

p{
  color: darken(color-claim(39, "bg"), 10%);
  font-family: 'Merriweather', serif;
  font-size: 32px;
  line-height: 40px;
  margin: 0;

  .highlight{
    color: color-claim(40, "bg");
  }
}

p+p{
  padding-top: 16px;
}

h1, h2, h3, h4, h5, h6{
  color: color-claim(40, "bg");
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;

  span{
    max-height: 64px;
    font-size: 64px;
    line-height: 64px;
  }

  .material-icons{
    height: 64px;
    font-size: 64px;
    line-height: 64px;
    transform: translate(0, 8px);
  }
}

.mscli-backdrop-container{
  display: none;

  @media(min-width: $l){
    display: block;
  }

  .mscli-backdrop {
    height: 100vh;
    max-width: 50vw;

    position: absolute;
    top: 0;
    right: 0;

    overflow: hidden;
    direction: rtl;

    img {
      max-height: 100vh;
    }
  }
}

.error-col{
  text-align: center;
  margin-bottom: 16px;

  p {
    color: #E54B4B;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }
}

.button-col{ text-align: right; }

.button{
  margin-top: 32px;
  cursor: pointer;

  display: inline-block;
  padding: 16px;
  font-size: 32px;
  font-family: 'Merriweather', serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f8f8f8;
  background-color: darken(color-claim(39, "bg"), 10%);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 color-claim(40, "bg"), 2px 6px 2px rgba(0, 0, 0, 0.1);

  -webkit-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

.button:hover{ box-shadow: 0 4px 0 0 color-claim(40, "bg"), 4px 8px 4px rgba(0, 0, 0, 0.2); }

.button:active{
  @include color-claim(40, "bg");
  transform: translateY(4px);
}

input[type=text] {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

  border: 2px solid darken(color-claim(39, "bg"), 10%);
  border-radius: 10px;

  background-color: #f8f8f8;
  color: color-claim(40, "bg");

  font-size: 32px;
  font-family: 'Merriweather', serif;

  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input[type=text]:focus {
  border: 2px solid darken(color-claim(39, "bg"), 30%);
  outline: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder { /* Chrome */
  color: darken(color-claim(39, "bg"), 10%);
}
:-ms-input-placeholder { /* IE 10+ */
  color: darken(color-claim(39, "bg"), 10%);
}
::-moz-placeholder { /* Firefox 19+ */
  color: darken(color-claim(39, "bg"), 10%);
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: darken(color-claim(39, "bg"), 10%);
  opacity: 1;
}