//  Breakpoints, set custom m, l and xl breakpoints here.
$_breakpoints: (
    m :  768px,
    l :  1024px,
    xl: 1440px
);

//  Grid, set custom child_name, max # of children and their gutter here.
//  If you plan on using the grid, you can also add breakpoints: $_breakpoints.
//  Grid will set them up for you.
$_outline: (
    child_name: "ctr",
    max: 2,
    gutter: 1px,
    flex: true,
        breakpoints: $_breakpoints
);

$_grid: (
        child_name: "col",
        max: 2,
        gutter: 32px,
        flex: false,
        breakpoints: $_breakpoints
);

$_album_grid: (
        child_name: "album",
        max: 6,
        gutter: 16px,
        flex: false,
        breakpoints: $_breakpoints
);

//  Container, set the container width and (optionally) the max-width.
$_container: (
    width: 82%
);