/*
**  External Setup Variables
*/
/*
**  Configuration
*/
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@media (max-width: 479px) {
  .hide[class*="-s"] {
    display: none; } }

@media (min-width: 480px) and (max-width: 767px) {
  .hide[class*="-m"] {
    display: none; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hide[class*="-l"] {
    display: none; } }

@media (min-width: 1024px) {
  .hide[class*="-xl"] {
    display: none; } }

body {
  background-color: #f8f8f8;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.header {
  width: 100%;
  max-height: 48px;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0; }
  .header .title-link {
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    margin-left: calc(9%); }
    @media (min-width: 768px) {
      .header .title-link {
        margin-left: calc(4.5%); } }
    .header .title-link h1 {
      color: #3C485E;
      font-family: 'Lato', sans-serif;
      margin: 0;
      line-height: 48px;
      height: 48px;
      font-size: 32px;
      display: inline-block; }
      .header .title-link h1 .material-icons {
        height: 48px;
        font-size: 32px;
        line-height: inherit;
        display: inline-block;
        float: left; }

.outline {
  margin-top: 48px;
  margin-left: -1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (max-width: 479px) {
    .outline .hide[class*="-s"] {
      display: none; } }
  @media (min-width: 480px) and (max-width: 1023px) {
    .outline .hide[class*="-m"] {
      display: none; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .outline .hide[class*="-l"] {
      display: none; } }
  @media (min-width: 1440px) {
    .outline .hide[class*="-xl"] {
      display: none; } }
  .outline:after {
    content: "";
    display: table;
    clear: both; }
  .outline [class^="ctr"] {
    box-sizing: border-box;
    vertical-align: top;
    margin-left: 1px;
    min-height: 1px;
    width: calc(100% - 1px); }
  .outline .ctr-auto {
    width: auto;
    flex: 1; }
  .outline [class^="ctr"][class*="-s-1"] {
    width: calc(50% - 1px); }
  .outline [class^="ctr"][class*="-s-2"] {
    width: calc(100% - 1px); }
  @media (min-width: 480px) {
    .outline [class^="ctr"][class*="-m-1"] {
      width: calc(50% - 1px); }
    .outline [class^="ctr"][class*="-m-2"] {
      width: calc(100% - 1px); } }
  @media (min-width: 1024px) {
    .outline [class^="ctr"][class*="-l-1"] {
      width: calc(50% - 1px); }
    .outline [class^="ctr"][class*="-l-2"] {
      width: calc(100% - 1px); } }
  @media (min-width: 1440px) {
    .outline [class^="ctr"][class*="-xl-1"] {
      width: calc(50% - 1px); }
    .outline [class^="ctr"][class*="-xl-2"] {
      width: calc(100% - 1px); } }

.grid {
  margin-top: 16px;
  margin-left: -32px; }
  @media (max-width: 479px) {
    .grid .hide[class*="-s"] {
      display: none; } }
  @media (min-width: 480px) and (max-width: 1023px) {
    .grid .hide[class*="-m"] {
      display: none; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .grid .hide[class*="-l"] {
      display: none; } }
  @media (min-width: 1440px) {
    .grid .hide[class*="-xl"] {
      display: none; } }
  .grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid [class^="col"] {
    box-sizing: border-box;
    vertical-align: top;
    margin-left: 32px;
    min-height: 1px;
    width: calc(100% - 32px);
    float: left; }
  .grid [class^="col"][class*="-s-1"] {
    width: calc(50% - 32px); }
  .grid [class^="col"][class*="-s-2"] {
    width: calc(100% - 32px); }
  @media (min-width: 480px) {
    .grid [class^="col"][class*="-m-1"] {
      width: calc(50% - 32px); }
    .grid [class^="col"][class*="-m-2"] {
      width: calc(100% - 32px); } }
  @media (min-width: 1024px) {
    .grid [class^="col"][class*="-l-1"] {
      width: calc(50% - 32px); }
    .grid [class^="col"][class*="-l-2"] {
      width: calc(100% - 32px); } }
  @media (min-width: 1440px) {
    .grid [class^="col"][class*="-xl-1"] {
      width: calc(50% - 32px); }
    .grid [class^="col"][class*="-xl-2"] {
      width: calc(100% - 32px); } }
  .grid .col-l-1 + .col-l-1 {
    margin-top: 16px;
    margin-bottom: 0; }
    @media (min-width: 1024px) {
      .grid .col-l-1 + .col-l-1 {
        margin-top: 0px; } }

.album-grid {
  margin-top: 16px;
  margin-left: -16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (max-width: 479px) {
    .album-grid .hide[class*="-s"] {
      display: none; } }
  @media (min-width: 480px) and (max-width: 1023px) {
    .album-grid .hide[class*="-m"] {
      display: none; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .album-grid .hide[class*="-l"] {
      display: none; } }
  @media (min-width: 1440px) {
    .album-grid .hide[class*="-xl"] {
      display: none; } }
  .album-grid:after {
    content: "";
    display: table;
    clear: both; }
  .album-grid [class^="album"] {
    box-sizing: border-box;
    vertical-align: top;
    margin-left: 16px;
    min-height: 1px;
    width: calc(100% - 16px); }
  .album-grid .album-auto {
    width: auto;
    flex: 1; }
  .album-grid [class^="album"][class*="-s-1"] {
    width: calc(16.66667% - 16px); }
  .album-grid [class^="album"][class*="-s-2"] {
    width: calc(33.33333% - 16px); }
  .album-grid [class^="album"][class*="-s-3"] {
    width: calc(50% - 16px); }
  .album-grid [class^="album"][class*="-s-4"] {
    width: calc(66.66667% - 16px); }
  .album-grid [class^="album"][class*="-s-5"] {
    width: calc(83.33333% - 16px); }
  .album-grid [class^="album"][class*="-s-6"] {
    width: calc(100% - 16px); }
  @media (min-width: 480px) {
    .album-grid [class^="album"][class*="-m-1"] {
      width: calc(16.66667% - 16px); }
    .album-grid [class^="album"][class*="-m-2"] {
      width: calc(33.33333% - 16px); }
    .album-grid [class^="album"][class*="-m-3"] {
      width: calc(50% - 16px); }
    .album-grid [class^="album"][class*="-m-4"] {
      width: calc(66.66667% - 16px); }
    .album-grid [class^="album"][class*="-m-5"] {
      width: calc(83.33333% - 16px); }
    .album-grid [class^="album"][class*="-m-6"] {
      width: calc(100% - 16px); } }
  @media (min-width: 1024px) {
    .album-grid [class^="album"][class*="-l-1"] {
      width: calc(16.66667% - 16px); }
    .album-grid [class^="album"][class*="-l-2"] {
      width: calc(33.33333% - 16px); }
    .album-grid [class^="album"][class*="-l-3"] {
      width: calc(50% - 16px); }
    .album-grid [class^="album"][class*="-l-4"] {
      width: calc(66.66667% - 16px); }
    .album-grid [class^="album"][class*="-l-5"] {
      width: calc(83.33333% - 16px); }
    .album-grid [class^="album"][class*="-l-6"] {
      width: calc(100% - 16px); } }
  @media (min-width: 1440px) {
    .album-grid [class^="album"][class*="-xl-1"] {
      width: calc(16.66667% - 16px); }
    .album-grid [class^="album"][class*="-xl-2"] {
      width: calc(33.33333% - 16px); }
    .album-grid [class^="album"][class*="-xl-3"] {
      width: calc(50% - 16px); }
    .album-grid [class^="album"][class*="-xl-4"] {
      width: calc(66.66667% - 16px); }
    .album-grid [class^="album"][class*="-xl-5"] {
      width: calc(83.33333% - 16px); }
    .album-grid [class^="album"][class*="-xl-6"] {
      width: calc(100% - 16px); } }

.container {
  padding-bottom: calc(4.5%);
  margin: 0 auto;
  width: 82%; }

.info-text {
  padding-top: calc(6%); }

p {
  color: #89a4ae;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  line-height: 40px;
  margin: 0; }
  p .highlight {
    color: #3C485E; }

p + p {
  padding-top: 16px; }

.mscli-backdrop-container {
  display: none; }
  @media (min-width: 768px) {
    .mscli-backdrop-container {
      display: block; } }
  .mscli-backdrop-container .mscli-backdrop {
    height: 100vh;
    max-width: 50vw;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    direction: rtl; }
    .mscli-backdrop-container .mscli-backdrop img {
      max-height: 100vh; }

.error-col {
  min-height: 32px;
  text-align: center; }
  .error-col p {
    color: #E54B4B;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 32px; }

.button-col {
  text-align: right; }

.button {
  margin-top: 16px;
  margin-bottom: calc(4.5%);
  cursor: pointer;
  display: inline-block;
  padding: 16px;
  font-size: 24px;
  font-family: 'Merriweather', serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f8f8f8;
  background-color: #89a4ae;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 #3C485E, 2px 6px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease; }

.button:hover {
  box-shadow: 0 4px 0 0 #3C485E, 4px 8px 4px rgba(0, 0, 0, 0.2); }

.button:active {
  background-color: #3C485E !important;
  transform: translateY(4px); }

input[type=text] {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid #89a4ae;
  border-radius: 10px;
  background-color: #f8f8f8;
  color: #3C485E;
  font-size: 24px;
  font-family: 'Merriweather', serif;
  -webkit-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out; }

input[type=text]:focus {
  border: 2px solid #55717c;
  outline: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }

::-webkit-input-placeholder {
  /* Chrome */
  color: #89a4ae; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #89a4ae; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #89a4ae;
  opacity: 1; }

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #89a4ae;
  opacity: 1; }

.streaming-title {
  margin-top: 16px; }
  .streaming-title img {
    height: 48px; }

.loading {
  font-size: 16px;
  color: #1B1D1C;
  font-family: 'Lato', sans-serif;
  margin-bottom: 48px; }

hr {
  border: 0;
  height: 1px;
  background: #1B1D1C;
  background-image: linear-gradient(to right, #C7C6C4, #1B1D1C, #C7C6C4); }

[class^="album-s-"] {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  [class^="album-s-"] img {
    width: 100%;
    display: block;
    margin-bottom: 16px; }
  [class^="album-s-"] .info {
    display: block;
    font-size: 16px;
    color: #1B1D1C;
    font-family: 'Lato', sans-serif;
    margin-bottom: 24px; }
    [class^="album-s-"] .info .artist-title .album-title {
      font-weight: bold; }
  [class^="album-s-"] .listen-button-wrapper {
    width: 100%;
    text-align: center; }
    [class^="album-s-"] .listen-button-wrapper .listen-button {
      cursor: pointer;
      width: 100%;
      max-width: 320px;
      padding: 10px 20px;
      border: none;
      border-radius: 500px;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #f8f8f8;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-transition: box-shadow .5s ease;
      transition: box-shadow .5s ease;
      background-color: #343736; }
      [class^="album-s-"] .listen-button-wrapper .listen-button:hover {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }
      [class^="album-s-"] .listen-button-wrapper .listen-button:active {
        background-color: #1B1D1C !important; }

.scrolltip-container {
  position: fixed;
  bottom: 0;
  left: calc(50% - 138px);
  -webkit-transition: transform .5s ease, box-shadow .5s ease;
  transition: transform .5s ease, box-shadow .5s ease;
  z-index: 99; }
  @media (min-width: 768px) {
    .scrolltip-container {
      left: calc(25% - 138px); } }
  .scrolltip-container:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }
  .scrolltip-container .scrolltip {
    cursor: pointer;
    min-width: 260px;
    width: 260px;
    max-width: 260px;
    padding: 8px 8px 4px;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #3C485E;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
    color: #f8f8f8;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none; }
    .scrolltip-container .scrolltip span {
      line-height: 20px;
      font-size: 14px;
      font-family: 'Lato', sans-serif; }
    .scrolltip-container .scrolltip .material-icons {
      float: right;
      margin-left: 4px;
      font-size: 20px;
      line-height: 20px;
      display: inline-block; }
  .scrolltip-container.hidden {
    transform: translateY(38px); }
  .scrolltip-container:hover .scrolltip {
    background-color: #28303f; }

@media (min-width: 1024px) {
  p, .button, input[type=text] {
    font-size: 28px; }
  .button {
    margin-top: 28px; }
  .error-col {
    margin-top: 16px; }
    .error-col p {
      font-size: 14.5px; } }

@media (min-width: 1440px) {
  p, .button, input[type=text] {
    font-size: 32px; }
  .button {
    margin-top: 32px; }
  .error-col {
    margin-top: 16px; }
    .error-col p {
      font-size: 16px; } }
